.displayProfile {
  margin-top: 2em;
  height: 400px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/background.png");

}

.mainBody {
  margin-top: 5em;
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .mainBody {
    margin-top: 0px;
    margin-left: 0em;
    margin-right: 0em;
    align-items: flex-start;
    display: flex;
    flex-direction: column; 
  }
  .enter {
    margin-top: 2em;
  }
  .displayProfile {
    margin-top: 0em;
    height: 30%;
  }

}