
nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.prompt {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-between;
}
.text {
  color: white;
}
.arrow {
  color: red;
  display: flex;
  justify-content: center;

}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-family: 'Bungee', cursive;
}

@media only screen and (max-width: 768px) {

  nav {
    background-image: url("/images/background.png");
    position: relative;
  }

}